<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParkingAdvisor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>708D503B1E9B502E00DB4ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708D504F1E9B502F00DB4ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708D505A1E9B502F00DB4ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
